
<section id="package_section" class="text-gray-400 bg-gray-900 body-font mb-2 ">
  <div class="container px-5 py-10 mx-auto">
    <div class="font-mono text-4xl mb-2">Kashmir Packages</div>
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full cursor-pointer" routerLink="/package-info">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://cdn.pixabay.com/photo/2017/03/26/19/37/landscape-2176348__480.jpg">
        </a>
        <div class="mt-4">
          <div class="text-white title-font text-lg font-medium">Place Name</div>
          <div class="text-gray-500 text-xs tracking-widest title-font mb-1">6 Days</div>
          <p class="mt-1">$16.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://i.ytimg.com/vi/Hih2zUJZZTM/maxresdefault.jpg">
        </a>
        <div class="mt-4">
          <div class="text-white title-font text-lg font-medium">Place Name</div>
          <div class="text-gray-500 text-xs tracking-widest title-font mb-1">6 Days</div>
          <p class="mt-1">$16.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201908/Dal_Lake.jpeg">
        </a>
        <div class="mt-4">
          <div class="text-white title-font text-lg font-medium">Place Name</div>
          <div class="text-gray-500 text-xs tracking-widest title-font mb-1">6 Days</div>
          <p class="mt-1">$16.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://images.pexels.com/photos/2907578/pexels-photo-2907578.jpeg">
        </a>
        <div class="mt-4">
          <div class="text-white title-font text-lg font-medium">Place Name</div>
          <div class="text-gray-500 text-xs tracking-widest title-font mb-1">6 Days</div>
          <p class="mt-1">$16.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201908/Dal_Lake.jpeg">
        </a>
        <div class="mt-4">
          <div class="text-white title-font text-lg font-medium">Place Name</div>
          <div class="text-gray-500 text-xs tracking-widest title-font mb-1">6 Days</div>
          <p class="mt-1">$16.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/425x265">
        </a>
        <div class="mt-4">
          <div class="text-white title-font text-lg font-medium">Place Name</div>
          <div class="text-gray-500 text-xs tracking-widest title-font mb-1">6 Days</div>
          <p class="mt-1">$16.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/427x267">
        </a>
        <div class="mt-4">
          <div class="text-white title-font text-lg font-medium">Place Name</div>
          <div class="text-gray-500 text-xs tracking-widest title-font mb-1">6 Days</div>
          <p class="mt-1">$16.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/428x268">
        </a>
        <div class="mt-4">
          <div class="text-white title-font text-lg font-medium">Place Name</div>
          <div class="text-gray-500 text-xs tracking-widest title-font mb-1">6 Days</div>
          <p class="mt-1">$16.00</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-400 bg-gray-900 body-font mb-2">
  <div class="container px-5 py-24 mx-auto">
    <div class="font-mono text-4xl mb-2">Manali Packages</div>
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://i.ytimg.com/vi/FxXXHglhCTQ/maxresdefault.jpg">
        </a>
        <div class="mt-4">
          <div class="text-white title-font text-lg font-medium">Place Name</div>
          <div class="text-gray-500 text-xs tracking-widest title-font mb-1">6 Days</div>
          <p class="mt-1">$16.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://rajputanacabs.b-cdn.net/wp-content/uploads/2022/01/manali-taxi-from-rajputana-cabs.webp">
        </a>
        <div class="mt-4">
          <div class="text-white title-font text-lg font-medium">Place Name</div>
          <div class="text-gray-500 text-xs tracking-widest title-font mb-1">6 Days</div>
          <p class="mt-1">$16.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.tourmyindia.com/blog//wp-content/uploads/2015/03/1122-Top-things-to-do-in-manali.jpg">
        </a>
        <div class="mt-4">
          <div class="text-white title-font text-lg font-medium">Place Name</div>
          <div class="text-gray-500 text-xs tracking-widest title-font mb-1">6 Days</div>
          <p class="mt-1">$16.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://lp-cms-production.imgix.net/2019-06/GettyImages-473154596_master.jpg">
        </a>
        <div class="mt-4">
          <div class="text-white title-font text-lg font-medium">Place Name</div>
          <div class="text-gray-500 text-xs tracking-widest title-font mb-1">6 Days</div>
          <p class="mt-1">$16.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/424x264">
        </a>
        <div class="mt-4">
          <div class="text-white title-font text-lg font-medium">Place Name</div>
          <div class="text-gray-500 text-xs tracking-widest title-font mb-1">6 Days</div>
          <p class="mt-1">$16.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/425x265">
        </a>
        <div class="mt-4">
          <div class="text-white title-font text-lg font-medium">Place Name</div>
          <div class="text-gray-500 text-xs tracking-widest title-font mb-1">6 Days</div>
          <p class="mt-1">$16.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/427x267">
        </a>
        <div class="mt-4">
          <div class="text-white title-font text-lg font-medium">Place Name</div>
          <div class="text-gray-500 text-xs tracking-widest title-font mb-1">6 Days</div>
          <p class="mt-1">$16.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/428x268">
        </a>
        <div class="mt-4">
          <div class="text-white title-font text-lg font-medium">Place Name</div>
          <div class="text-gray-500 text-xs tracking-widest title-font mb-1">6 Days</div>
          <p class="mt-1">$16.00</p>
        </div>
      </div>
    </div>
  </div>
</section>

