<section id="PackagesSection" class="pt-10 testimonial-area">
  <div class="container">
      <div class="justify-center row">
          <div class="w-full lg:w-2/3">
              <div class="pb-5 text-center section-title">
                  <div class="m-auto line"></div>
                  <h3 class="title">Trippens Travel<span>Packages</span></h3>
              </div> <!-- section title -->
          </div>
      </div> <!-- row -->
      <div class="row testimonial-active wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="0.8s">

          <div class="col-lg-4">
              <div class="mt-8 text-center single-team wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                <div class="relative team-image">
                    <img class="w-full" src="assets/images/packages/adventureActivity.jpg" alt="Team">
                </div>
                <div class="p-8">
                    <div class="mb-1 text-xl font-bold text-gray-900">Adventure Activities</div>
                    <!-- <div>Founder and CEO</div> -->
                </div>
              </div>
          </div>

          <div class="col-lg-4">
            <div class="mt-8 text-center single-team wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
              <div class="relative team-image">
                  <img class="w-full" src="assets/images/packages/discoverIndia.jpg" alt="Team">
              </div>
              <div class="p-8">
                  <div class="mb-1 text-xl font-bold text-gray-900">Discover India</div>
                  <!-- <div>Founder and CEO</div> -->
              </div>
            </div>
        </div>

        <div class="col-lg-4">
          <div class="mt-8 text-center single-team wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <div class="relative team-image">
                <img class="w-full" src="assets/images/packages/economic.jpg" alt="Team">
            </div>
            <div class="p-8">
                <div class="mb-1 text-xl font-bold text-gray-900">Economic Packages</div>
                <!-- <div>Founder and CEO</div> -->
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="mt-8 text-center single-team wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <div class="relative team-image">
                <img class="w-full" src="assets/images/packages/kashmirAdenture.jpg" alt="Team">
            </div>
            <div class="p-8">
                <div class="mb-1 text-xl font-bold text-gray-900">KAshmir Adventure</div>
                <!-- <div>Founder and CEO</div> -->
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="mt-8 text-center single-team wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <div class="relative team-image">
                <img class="w-full" src="assets/images/packages/ladakRides.jpg" alt="Team">
            </div>
            <div class="p-8">
                <div class="mb-1 text-xl font-bold text-gray-900">Ladak Rides</div>
                <!-- <div>Founder and CEO</div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="mt-8 text-center single-team wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <div class="relative team-image">
                <img class="w-full" src="assets/images/packages/road_trip.jpg" alt="Team">
            </div>
            <div class="p-8">
                <div class="mb-1 text-xl font-bold text-gray-900">Road Trips</div>
                <!-- <div>Founder and CEO</div> -->
            </div>
          </div>
        </div>
      </div> <!-- row -->
      <div class="float-right row">
        <a class="pr-3 text-lg font-bold text-theme-color-2" routerLink="/all-package-info">
          More Tours
          <i class="ml-2 lni lni-chevron-right"></i>
        </a>
      </div>
  </div> <!-- container -->
</section>
