<section id="aboutSection" class="relative pt-20 about-area">
  <div class="container">
      <div class="row">
          <div class="w-full lg:w-1/2">
              <div class="mx-4 mt-12 about-content wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
                  <div class="mb-4 section-title">
                      <div class="line"></div>
                      <h3 class="title">WE ARE TRIPPENS<span></span></h3>
                  </div> <!-- section title -->
                  <p class="mb-8">Trippens is The Unique Volunteer Tour Makers Company renowned not only for visiting well-known locations, but also for exploring far-away treasures. Established in 2017, the founder is JAMSHI P A and team who have eighteen years of experience in the tourism sector in seven countries. The company also provide travel consulting programme for the riders. Trippens is the first self-drive tour operating organization in South India having two branches in SRI LANKA & MALAYSIA.</p>
                  <!-- <a href="javascript:void(0)" class="main-btn gradient-btn">Try it Free</a> -->
              </div> <!-- about content -->
          </div>
          <div class="w-full lg:w-1/2">
              <div class="mx-4 mt-12 text-center about-image wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.5s">
                  <img src="assets/images/about-man.jpg" alt="about">
              </div> <!-- about image -->
          </div>
      </div> <!-- row -->
  </div> <!-- container -->
  <div class="about-shape-1">
      <img src="assets/images/about-shape-1.svg" alt="shape">
  </div>
</section>
