<section class="mt-24 text-gray-400 body-font">
  <div class="container flex flex-wrap px-5 py-5 mx-auto">
    <div class="w-full mb-10 overflow-hidden lg:w-1/2 lg:mb-0">
      <span class="font-mono text-3xl text-black">Green Valley</span>
      <img alt="feature" class="object-cover object-center w-full h-full mt-3 rounded" src="https://upload.wikimedia.org/wikipedia/commons/7/70/Neeulm_Valley_AJK_%28Arang_Kel%29.jpg">
    </div>

    <div class="flex flex-col flex-wrap -mb-10 text-center lg:py-6 lg:w-1/2 lg:pl-12 lg:text-left">
      <div class="flex mb-2">
         <button class="px-6 py-2 ml-auto text-xl text-white bg-red-500 border-0 rounded focus:outline-none hover:bg-red-600" (click)="toggleModal()">Book Now</button>
        <div class="px-6 py-2 text-white border-0 rounded focus:outline-none">
          <div class="text-xl">₹5000</div>
          <div>Per Person</div>

        </div>
      </div>
      <div class="flex flex-col items-center mb-3 lg:items-start">
        <div class="flex-grow">
          <h2 class="mb-1 text-lg font-medium text-black title-font">
            <!-- <div class="inline-flex items-center justify-center w-12 h-12 mb-2 mr-2 text-purple-400 bg-gray-800 rounded-full">
              <mat-icon>visibility</mat-icon>
            </div> -->
            Overview
          </h2>
          <p class="text-base leading-relaxed">Jammu and Kashmir was a region formerly administered by India as a state from 1954 to 2019, constituting the southern and southeastern portion of the larger Kashmir region, which has been the subject of a dispute between India, Pakistan and China since the mid-20th century.</p>
          <!-- <a class="inline-flex items-center mt-3 text-purple-400">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a> -->
        </div>
      </div>
      <div class="flex flex-col items-center mb-3 lg:items-start">

        <div class="flex-grow">
          <h2 class="mb-3 text-lg font-medium text-black title-font">
            <!-- <div class="inline-flex items-center justify-center w-12 h-12 mb-2 text-purple-400 bg-gray-800 rounded-full">
              <mat-icon>home</mat-icon>
            </div> -->
            Stay
          </h2>
          <div class="">
            <img alt="testimonial" class="inline-block object-cover object-center w-20 h-20 mx-2 mb-4 bg-gray-800 border-2 border-gray-800 rounded bg-opacity-10" src="https://media.easemytrip.com/media/Blog/India/636967251706354069/636967251706354069536xiC.jpg">
            <img alt="testimonial" class="inline-block object-cover object-center w-20 h-20 mx-2 mb-4 bg-gray-800 border-2 border-gray-800 rounded bg-opacity-10" src="https://assets.cntraveller.in/photos/618cec4fcb71571d901e7b4f/master/w_1600%2Cc_limit/The%2520Vintage%2520Gulmarg.jpeg">
            <img alt="testimonial" class="inline-block object-cover object-center w-20 h-20 mx-2 mb-4 bg-gray-800 border-2 border-gray-800 rounded bg-opacity-10" src="https://media.easemytrip.com/media/Blog/India/636967251706354069/63696725170635406998juQN.jpg">
          </div>
          <p class="text-base leading-relaxed">Which are the best resorts to stay in Jammu and Kashmir? · The Vintage Gulmarg Four Star Hotel 2739, Circular Road, Gulmarg, Jammu and Kashmir.</p>
          <!-- <a class="inline-flex items-center mt-3 text-purple-400">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a> -->
        </div>
      </div>
      <div class="flex flex-col items-center mb-10 lg:items-start">

        <div class="flex-grow">
          <h2 class="mb-3 text-lg font-medium text-black title-font">
            <!-- <div class="inline-flex items-center justify-center w-12 h-12 mb-2 text-purple-400 bg-gray-800 rounded-full">
              <mat-icon>calendar_view_day</mat-icon>
            </div> -->
            Itinery
          </h2>
          <p class="text-base leading-relaxed">The definition of itinerary is a travel plan. An example of an itinerary is the list of dates and cities for a tour group. An example of an itinerary is your planned route. noun.</p>
          <a class="inline-flex items-center mt-3 text-red-500">Download Itinery
            <mat-icon class="mx-2">cloud_download</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="showModal" class="fixed inset-0 z-50 flex items-center justify-center overflow-x-hidden overflow-y-auto outline-none focus:outline-none">
  <div class="relative w-auto max-w-6xl mx-auto my-6">
    <!--content-->
    <div class="relative flex flex-col w-full bg-white border-0 rounded-lg shadow-lg outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid rounded-t border-slate-200">
        <div class="font-mono text-3xl font-semibold">
          Book Your Trip
        </div>
        <button class="float-right p-1 ml-auto text-3xl font-semibold leading-none text-black bg-transparent border-0 outline-none opacity-5 focus:outline-none" (click)="toggleModal()">
          <span class="block w-6 h-6 text-2xl text-black bg-transparent outline-none opacity-5 focus:outline-none">
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <div class="relative flex-auto p-6">
        <app-package-booking-form></app-package-booking-form>
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-solid rounded-b border-slate-200">
        <button class="px-6 py-2 mb-1 mr-1 text-sm font-bold text-red-500 uppercase transition-all duration-150 ease-linear outline-none background-transparent focus:outline-none" type="button" (click)="toggleModal()">
          Close
        </button>
        <button class="px-6 py-3 mb-1 mr-1 text-sm font-bold text-white uppercase transition-all duration-150 ease-linear rounded shadow outline-none bg-emerald-500 active:bg-emerald-600 hover:shadow-lg focus:outline-none" type="button" (click)="toggleModal()">
          Book
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="fixed inset-0 z-40 bg-black opacity-25"></div>
