
<!-- <header class="header-area"> -->
  <div class="bg-white shadow navbar-area">
      <div class="container relative">
          <div class="row">
              <div class="w-full">
                <nav class="flex items-center justify-between navbar navbar-expand-lg ">
                  <a class="mr-4 " href="index.html">
                      <img  src="assets/images/logos/logo.png" style="width:10rem;" >
                  </a>
                  <button class="block navbar-toggler focus:outline-none lg:hidden" type="button" data-toggle="collapse" data-target="#navbarOne" aria-controls="navbarOne" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="toggler-icon"></span>
                      <span class="toggler-icon"></span>
                      <span class="toggler-icon"></span>
                  </button>

                  <div class="absolute left-0 z-20 hidden w-full px-5 py-3 duration-300 bg-white shadow lg:w-auto collapse navbar-collapse lg:block top-100 mt-full lg:static lg:bg-transparent lg:shadow-none" id="navbarOne">
                      <ul id="nav" class="items-center content-start mr-auto lg:justify-end navbar-nav lg:flex">
                          <li class=" nav-item active">
                              <a class="page-scroll" href="#wholeHeaderNav" style="color: black;">Home</a>
                          </li>
                          <li class="nav-item">
                              <a class="page-scroll" href="#aboutSection"  style="color: black;">About</a>
                          </li>
                          <li class="nav-item">
                              <a class="page-scroll" href="#PackagesSection"  style="color: black;">Packages</a>
                          </li>
                          <li class="nav-item">
                              <a class="page-scroll" href="#testimonialSection"  style="color: black;">Testimonials</a>
                          </li>
                          <li class="nav-item">
                              <a class="page-scroll" href="#mediaSection"  style="color: black;">Media</a>
                          </li>
                          <li class="nav-item">
                              <a class="page-scroll" href="#contactSection"  style="color: black;">Contact Us</a>
                          </li>
                      </ul>
                  </div> <!-- navbar collapse -->

                  <div class="absolute right-0 hidden mt-2 mr-24 navbar-btn sm:inline-block lg:mt-0 lg:static lg:mr-0">
                    <ul class="flex footer-social">
                      <li class="nav-item"><a href="javascript:void(0)"><i class="lni lni-facebook-filled" style="color: #4867aa;"></i></a></li>
                      <li class="nav-item"><a href="javascript:void(0)"><i class="lni lni-twitter-filled" style="color: #1da1f2;"></i></a></li>
                      <li class="nav-item"><a href="javascript:void(0)"><i class="lni lni-instagram-filled" style="color: #fa603c;"></i></a></li>
                      <li class="nav-item"><a href="javascript:void(0)"><i class="lni lni-linkedin-original" style="color: #0077b5;"></i></a></li>
                    </ul>
                  </div>
                </nav>
              </div>
          </div> <!-- row -->
      </div> <!-- container -->
  </div> <!-- navbar area -->
