<app-package-carousel></app-package-carousel>

<section class="text-gray-600 body-font">
  <div class="container px-5 pt-24 pb-5 mx-auto">
    <div class="justify-center row">
      <div class="w-full lg:w-2/3">
          <div class="pb-5 text-center section-title">
              <div class="m-auto line"></div>
              <h3 class="title">Trippens Travel<span>Packages</span></h3>
          </div> <!-- section title -->
      </div>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="w-full p-4 lg:w-1/4 md:w-1/2">
        <a class="relative block h-48 overflow-hidden transition duration-500 rounded hover:scale-110">
          <img alt="ecommerce" class="block object-cover object-center w-full h-full" src="assets/images/packages/adventureActivity.jpg">
        </a>
        <div class="mt-4">
          <h2 class="text-lg font-medium text-gray-900 title-font">Adventure Activity</h2>
          <h3 class="mb-1 text-xs tracking-widest text-gray-500 title-font">
              6 Days
              <button class="float-right px-2 py-1 text-white bg-blue-500 rounded hover:bg-blue-700" routerLink="/package-info">Book Now</button>
          </h3>
          <p class="mt-1">$16.00</p>
        </div>
      </div>
      <div class="w-full p-4 lg:w-1/4 md:w-1/2">
        <a class="relative block h-48 overflow-hidden transition duration-500 rounded hover:scale-110">
          <img alt="ecommerce" class="block object-cover object-center w-full h-full" src="assets/images/packages/campInRide.jpg">
        </a>
        <div class="mt-4">
          <h2 class="text-lg font-medium text-gray-900 title-font">Camp In Ride</h2>
          <h3 class="mb-1 text-xs tracking-widest text-gray-500 title-font">
            5 Days
            <button class="float-right px-2 py-1 text-white bg-blue-500 rounded hover:bg-blue-700" routerLink="/package-info">Book Now</button>
          </h3>
          <p class="mt-1">$21.15</p>
        </div>
      </div>
      <div class="w-full p-4 lg:w-1/4 md:w-1/2">
        <a class="relative block h-48 overflow-hidden transition duration-500 rounded hover:scale-110">
          <img alt="ecommerce" class="block object-cover object-center w-full h-full" src="assets/images/packages/discoverIndia.jpg">
        </a>
        <div class="mt-4">
          <h2 class="text-lg font-medium text-gray-900 title-font">Discover India</h2>
          <h3 class="mb-1 text-xs tracking-widest text-gray-500 title-font">
            10 Days
            <button class="float-right px-2 py-1 text-white bg-blue-500 rounded hover:bg-blue-700" >Book Now</button>
          </h3>
          <p class="mt-1">$12.00</p>
        </div>
      </div>
      <div class="w-full p-4 lg:w-1/4 md:w-1/2">
        <a class="relative block h-48 overflow-hidden transition duration-500 rounded hover:scale-110">
          <img alt="ecommerce" class="block object-cover object-center w-full h-full" src="assets/images/packages/economic.jpg">
        </a>
        <div class="mt-4">
          <h2 class="text-lg font-medium text-gray-900 title-font">Economic</h2>
          <h3 class="mb-1 text-xs tracking-widest text-gray-500 title-font">
            3 Days
            <button class="float-right px-2 py-1 text-white bg-blue-500 rounded hover:bg-blue-700" >Book Now</button>
          </h3>
          <p class="mt-1">$18.40</p>
        </div>
      </div>
      <div class="w-full p-4 lg:w-1/4 md:w-1/2">
        <a class="relative block h-48 overflow-hidden transition duration-500 rounded hover:scale-110">
          <img alt="ecommerce" class="block object-cover object-center w-full h-full" src="assets/images/packages/greenRides.jpg">
        </a>
        <div class="mt-4">
          <h2 class="text-lg font-medium text-gray-900 title-font">Green Rides</h2>
          <h3 class="mb-1 text-xs tracking-widest text-gray-500 title-font">
            5 Days
            <button class="float-right px-2 py-1 text-white bg-blue-500 rounded hover:bg-blue-700" >Book Now</button>
          </h3>
          <p class="mt-1">$16.00</p>
        </div>
      </div>
      <div class="w-full p-4 lg:w-1/4 md:w-1/2">
        <a class="relative block h-48 overflow-hidden transition duration-500 rounded hover:scale-110">
          <img alt="ecommerce" class="block object-cover object-center w-full h-full" src="assets/images/packages/kashmirAdenture.jpg">
        </a>
        <div class="mt-4">
          <h2 class="text-lg font-medium text-gray-900 title-font">Kashmir Adventure</h2>
          <h3 class="mb-1 text-xs tracking-widest text-gray-500 title-font">
            15 Days
            <button class="float-right px-2 py-1 text-white bg-blue-500 rounded hover:bg-blue-700" >Book Now</button>
          </h3>
          <p class="mt-1">$21.15</p>
        </div>
      </div>
      <div class="w-full p-4 lg:w-1/4 md:w-1/2">
        <a class="relative block h-48 overflow-hidden transition duration-500 rounded hover:scale-110">
          <img alt="ecommerce" class="block object-cover object-center w-full h-full" src="assets/images/packages/KeralaToKashmir.jpg">
        </a>
        <div class="mt-4">
          <h2 class="text-lg font-medium text-gray-900 title-font">Kerala To Kashmir</h2>
          <h3 class="mb-1 text-xs tracking-widest text-gray-500 title-font">
            20 Days
            <button class="float-right px-2 py-1 text-white bg-blue-500 rounded hover:bg-blue-700" >Book Now</button>
          </h3>
          <p class="mt-1">$12.00</p>
        </div>
      </div>
      <div class="w-full p-4 lg:w-1/4 md:w-1/2">
        <a class="relative block h-48 overflow-hidden transition duration-500 rounded hover:scale-110">
          <img alt="ecommerce" class="block object-cover object-center w-full h-full" src="assets/images/packages/keralaVoyages.jpg">
        </a>
        <div class="mt-4">
          <h2 class="text-lg font-medium text-gray-900 title-font">Kerala Voyages</h2>
          <h3 class="mb-1 text-xs tracking-widest text-gray-500 title-font">
            7 Days
            <button class="float-right px-2 py-1 text-white bg-blue-500 rounded hover:bg-blue-700" >Book Now</button>
          </h3>
          <p class="mt-1">$18.40</p>
        </div>
      </div>
    </div>
  </div>
</section>



